@import "bootstrap-sprockets";
@import "bootstrap";
@import "mdb.css";
@import "custom";
@import "font-awesome.min";
@import "mdb.min";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= icons
 *= font-awesome.min
 *= mdb
 *= mdb.min
 *= jquery
 *= custom
 *= require_tree .
 *= require_self
 *=
 */

@media only screen and (min-width: 1200px) {
  /* line 13, D:/DEV/tour-catalog/app/assets/stylesheets/mdb.min.css */
  html {
    font-size: 15px;
  }
  .container {
      width: 1140px;
  }
}
/* line 13, D:/DEV/tour-catalog/app/assets/stylesheets/mdb.min.css */
p, h3 {
  font-size: 1rem;
  line-height: 1.8;
}

body {
  background: url(cutwall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#main_container {
  background-color: (160, 236, 229, 0.12);
}
.full {
  background: url(cutwall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

//#gradient {
//  background-image: url(gradient.jpg);
//  background-repeat: no-repeat;
//  background-position: inherit;
//  height: 41px;
//  opacity: 0.35;
//}

footer.page-footer {
  margin-top: 0px;
}
