@import "bootstrap-sprockets";
@import "bootstrap";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= mdb
 *= mdb.min
 *= custom
 *= jquery
 *= custom
 *= require_tree .
 *= require_self
 *=
 */

 p {
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 300;
}

.navbar{
    margin-bottom: 0;
}
.card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.btn {
    display: block;
}

.vcenter {
    display: table-footer-group;
    float: none;
    vertical-align: middle;
}

footer.page-footer{
        display: block;
}

